html {
font-size: 10px;
font-family:'Kokoro';
font-family:'serif';
font-family: 'Nico Moji'; 
margin: 0;
}

body {
width: 80%;
max-width: 800px;
margin: 0 auto;
}

/* Typography */

h1 {
font-size: 6rem;
}

h2 {
font-size: 4rem;
}
h1, h2 {
font-family:'Nico Moji'; 
}

p {
font-size: 2rem;
line-height: 1.3;
word-spacing: 0.6em;
font-family: 'Kokoro', serif;
}